h1{
    cursor: pointer;
}
body{
    background-color: rgb(234,234,234);
}

.content{
    display: flex;
}

.summoner{
    width: 150px;
    padding: 5px;
    text-align: center;
    margin-bottom: 3px;
}

.left_side{
    border: 1px solid #cdd2d2;
    box-shadow: 0 1px #dcdfdf;
    background: #f2f2f2;
    border-radius: 2px;
    padding: 10px 10px;
    display: flex;
    height: 100px;
    margin: 10px;
}

.info{
    text-align: center;
}

.requestSummoner {
    text-align: right;
    margin: 10px;
}

#inputSummoner {
    text-align: center;
    font-size: 25px;
}

.league {
    color: #879292;
    font-size: small;
}

.league_tierRank {
    color : #1f8ecd;
}

.block{
    border: 1px solid #cdd2d2;
    border-radius: 3px;
    display: flex;
    font-size: 12px;
    margin: 8px;
    color: #555;
    align-items: center;
}

.block_left{
    padding: 5px 5px;
    margin-left: 3px;
    margin-right: 3px;
    width: 75px;
    text-align: center;
}

.stats_box{
    padding: 15px 15px;
}

.stats_box_up{
    display: flex;
    align-items: center;
}

.stats_box_down{
    font-size: 12px;
    margin-top: 10px;
    text-align: center;
}

.kda_box{
    padding: 20px 10px;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    color : #555;
}